body
{
 overflow:hidden;
 font-family: 'Didact Gothic', sans-serif;
 text-transform:lowercase;
}
.menuSelection
{
	border: 2px solid #50514F;
	border-radius:10px;
	padding:15px;
	max-height:200px;
	background-color:#FFFFFF;
	overflow-y:auto;
	max-width:470px;
	margin:10px 0px;
}

.menuSelection::-webkit-scrollbar {
  width: 10px;
  margin:5px;
}

.menuSelection::-webkit-scrollbar-track {
  background-color: transparent;
}

.menuSelection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#247BA0;
}
select, select:focus, select:active
{
	font-family: 'Didact Gothic', sans-serif;text-transform:lowercase;font-size:2em;margin:10px 0px;font-weight:normal; border-radius:10px;border:2px solid #50514F; display:block; color:#50514F;outline: none; width:500px;text-align:center;
}
option { margin:0px; }

.optionContainer { cursor:pointer; }
.optionContainer input { height:0px;width:0px;opacity:0;position:absolute; }

.optionContainer .label
{
	display:inline-block;width:100px;margin:5px;text-align:center;padding:5px;font-size:1em;border-radius:10px;text-transform:lowercase; border:2px solid #50514F; color: #50514F; background-color:#FFFFFF;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.optionContainer input:checked + .label {
  border:2px solid #247BA0;
color:#247BA0;
}

.gameContainer, .fullScreenGameContainer
{
	transform: translate(-50%, -50%);
	position:absolute;  
	top: 50%;  
	left: 50%;
	text-align:center;
	color: #50514F;
	width:auto;
	background-color:transparent;
}
.fullScreenGameContainer
{
	width:100%;
	background-color:#FFFFFF;
}
.gameContainer img, .fullScreenGameContainer img { display:block; }
.gameContainer h1, .fullScreenGameContainer h1
{
	font-family: 'Didact Gothic', sans-serif;text-transform:lowercase;font-size:3em;margin:0.5em;font-weight:normal;
}
.gameContainer canvas, .fullScreenGameContainer canvas
{
	width:0px;height:0px;	
	background-image:url(fieldlogo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:40%;
	background-color:#FFFFFF;
	border: 0px solid #FFFFFF;
}
.home { color: #F25F5C; }
.away { color: #247BA0; }
.leaderBoard
{
	border:2px solid #FFE066;
	color: #50514F;
	padding:15px;
	border-radius:10px;
	position:absolute;
	top:25px;
	right:25px;
	text-align:center;
}
.leaderBoard h2 { margin:0px; 	color: #50514F; }
.leaderBoard table { width:100%; color: #50514F; }
.leaderBoard table tr:first td { font-weight:bold; }
.leaderBoard tr td:nth-child(3) { text-align:right; }
button
{
	border:2px solid #247BA0;
	color:#247BA0;
	border-radius:10px;font-size:1.7em;
	font-family: 'Didact Gothic', sans-serif;
	text-transform:lowercase;
	padding:1em 1em;
	min-width:245px;
	background-color:#FFFFFF;
	cursor:pointer;
}
.loadBtn { border:2px solid #247BA0; color: #247BA0; margin-right:5px; }
.startBtn { border:2px solid #F25F5C; color: #F25F5C; margin-left:5px; }
.startBtn:disabled { border:2px solid #50514F;color: #50514F;cursor:default; }
.selectBtnContainer {  }
.ingameOptions
{
	position:absolute;
	bottom:25px;
	right:25px;
}
.ingameOptions button
{
	border:2px solid #50514F;
	color: #50514F;
	background-color:#F0F0F0;
	font-size:1em;
	font-weight:bold;
	padding:0px;
	width:50px;
	height:50px;
	margin-left:10px;
	min-width:auto;
}