body
{
 overflow:hidden;
 font-family: 'Didact Gothic', sans-serif;
 text-transform:lowercase;
}
.menuSelection
{
	border: 2px solid #247BA0;
	border-radius:10px;
	padding:15px;
	max-height:200px;
	background-color:#F0F0F0;
	overflow-y:auto;
	max-width:450px;
	margin:15px;
}

.menuSelection::-webkit-scrollbar {
  width: 10px;
  margin:5px;
}

.menuSelection::-webkit-scrollbar-track {
  background-color: transparent;
}

.menuSelection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#247BA0;
}
select, select:focus, select:active
{
	font-family: 'Didact Gothic', sans-serif;text-transform:lowercase;font-size:2em;margin:0.5em;font-weight:normal; border:0px; display:block; color:#50514F;outline: none; width:400px;text-align:center;
}
.optionContainer { display:inline-block;width:100px;background-color:#E0E0E0;margin:5px;text-align:center;padding:5px;font-size:1em;border-radius:10px;text-transform:lowercase; }

.gameContainer, .fullScreenGameContainer
{
	transform: translate(-50%, -50%);
	position:absolute;  
	top: 50%;  
	left: 50%;
	text-align:center;
	color: #50514F;
	width:auto;
	background-color:transparent;
}
.fullScreenGameContainer
{
	width:100%;
	background-color:#70C1B3;
}
.gameContainer img, .fullScreenGameContainer img { display:block; }
.gameContainer h1, .fullScreenGameContainer h1
{
	font-family: 'Didact Gothic', sans-serif;text-transform:lowercase;font-size:3em;margin:0.5em;font-weight:normal;
}
.gameContainer canvas, .fullScreenGameContainer canvas
{
	width:0px;height:0px;	
	background-image:url(fieldlogo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:40%;
	background-color:#70C1B3;
	border: 0px solid #50514F;
}
.home { color: #F25F5C; }
.away { color: #247BA0; }
.leaderBoard
{
	border:2px solid #FFE066;
	color: #50514F;
	padding:15px;
	background-color:#F0F0F0;
	border-radius:10px;
	position:absolute;
	top:25px;
	right:25px;
	text-align:center;
}
.leaderBoard h2 { margin:0px; 	color: #50514F; }
.leaderBoard table { width:100%; color: #50514F; }
.leaderBoard table tr:first td { font-weight:bold; }
.leaderBoard tr td:nth-child(3) { text-align:right; }
button
{
	border:2px solid #247BA0;
	color:#247BA0;
	border-radius:10px;
	font-size:1em;
	text-transform:lowercase;
	padding:1em 1em;
	min-width:200px;
	margin:5px;
	background-color:#FFFFFF;
}
.redBtn { border:2px solid #F25F5C; color: #F25F5C; }

.ingameOptions
{
	position:absolute;
	bottom:25px;
	right:25px;
}
.ingameOptions button
{
	border:2px solid #50514F;
	font-weight:bold;
	width:50px;
	height:50px;
	min-width:auto;
	color:#50514F;
	background-color:#CCCCCC;
}